
<%= form_for @question do |f| %>
　
    　<div class="question-new-title">
        <%= f.label:title, "質問のタイトル：", {class: 'title-label'}  %>
        <%= f.text_field :title, :size => 100, :class => 'title-field'%>
      </div>
    
      <div class="question-new-content">
        <%= f.label :content, "質問の内容", {class: 'content-label'} %>
        <%= f.text_area :content, :size => "50x15", :class => 'content-field'  %>
        
        <%= f.submit "質問する" , :class => 'submit_class_newquestion' %>
      </div>
    
      
    
 <% end %>
    