<div class = "hello-index">
<div class = "explain">
  <div class = "image1">
    <%= image_tag 'key-journalwhite-width2.png' %>
  </div>
  <p class="text">
    <span>iTL Experience commonsとは</span>
    <br>
    <br>
    このサイトは、iTLの学生である<br>
    皆さんがお互いの大学生活、課外生活で<br>
    経験したことの情報を交換し、<br>
    みなさんの大学生活を豊かにするものです。<br>
  </p>


</div>

<br>

<div class="conteiner">

  <div class="content">
    <div class="content-text">
        <div class ="content-name">
         <%= link_to "質問一覧", questions_path %>
        </div>
       <div class="message">
       <p>ここには、みんながしたい質問が集まっています。</p>
       <p>授業の事、就活相談、研究室選び、サークルのことなど</p>
       <p>見たい質問を見てみよう。</p>
       <p>また、あなたが質問をすることで、同じ悩みを持つみんなも助けてあげよう。</p>
       <p>そして、あなたが答えられる質問にはぜひ答えてあげよう。</p>
       </div>
    </div>
    <div class="content-image">
      <%= link_to image_tag('question.jpg'), questions_path %>
    </div>
  </div>

<br>

  <div class="content">
    <div class="content-image">
        <%= link_to image_tag('social.png'), users_path %>
    </div>
    <div class="content-text">
      <div class="content-name">
       <%= link_to "ユーザー一覧", users_path %>
      </div>
      <div class="message">
      <p>ここには、このサイトを利用するiTL生が集まっています。</p>
      <p>自分と同じ進路の人、行きたい研究室の人など</p>
      <p>あなたが話をしたい人を見つけてみよう。</p>
      <p>学校では、直接話しかけるのは難しくても</p>
      <p>このサイトを利用する人には、どんな相談でもしよう。</p>
      </div>
    </div>
  </div>

</div>
</div>

