<div class="new-body">
<div class="form-wrapper">

<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :memberId,"学籍番号" %><br />
    <%= f.text_field :memberId, autofocus: true, autocomplete: "memberId" %>
  </div>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :email,"メールアドレス" %><br />
    <%= f.text_field :email, autocomplete: "memberId" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "半角英数6文字以上"  %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "再度入力してください"  %>
  </div>

  <div class="selectbox">
  　<%= f.label :course, "希望の進路" %>
  　<%= f.select :course, [["IT系", "IT系"], ["法律系", "法律系"],["外資系","外資系"],["メーカー系","メーカー系"],["インフラ系","インフラ系"],["商社系","商社系"],["小売系","小売系"],["金融系","金融系"],["クリエイティブ系","クリエイティブ系"],["公務員系","公務員系"],["芸能系","芸能系"],["未定","未定"]], include_blank: "選択して下さい" %>
  　<%= f.label :labo, "ゼミ" %>
  　<%= f.select :labo, [["岡嶋ゼミ", "岡嶋ゼミ"], ["飯尾ゼミ", "飯尾ゼミ"],["須藤ゼミ","須藤ゼミ"],["角田ゼミ","角田ゼミ"],["小花ゼミ","小花ゼミ"],["松崎ゼミ","松崎ゼミ"],["松野ゼミ","松野ゼミ"],["村田ゼミ","村田ゼミ"],["吉田ゼミ","吉田ゼミ"],["石井ゼミ","石井ゼミ"],["岩隈ゼミ","岩隈ゼミ"],["景山ゼミ","景山ゼミ"],["小向ゼミ","小向ゼミ"],["中島ゼミ","中島ゼミ"],["中村ゼミ","中村ゼミ"],["平野ゼミ","平野ゼミ"],["斎藤ゼミ","斎藤ゼミ"],["西村ゼミ","西村ゼミ"],["橋本ゼミ","橋本ゼミ"],["保坂ゼミ","保坂ゼミ"],["矢島ゼミ","矢島ゼミ"],["未所属","未所属"]], include_blank: "選択して下さい" %>
  </div>



  <div class="image_input_btn">
    <%= f.label :image, "プロフィール画像" %>
  </div>
    <%= f.file_field :image , class: "image_form"%>
  <br>
  <br>

  <div class="privacy">
    <%= link_to "【重要】個人情報の取り扱いについて", hello_privacy_path  %>
  </div>
  

  
  <div class="button-panel">
    <%= f.submit "アカウントを作る" , class:"button"%>
  </div>
<% end %>


</div>
</div>
